<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


</head>

<body background="/imgs/fondoLaptop.jpg" style="background-position: center;">
    <div class=" transparent">
        <nav class="white">
            <div class="navbar-fixed">
                <nav class="white">
                    <div class="nav-wrapper ">
                        <!-- <a href="#!" class="brand-logo center">Sciecom</a> -->
                        <a class="right">
                            <img src="/imgs/logoSCIECOMPNG.png" style="max-width:130px;width:auto;height:auto;">
                        </a>
                        <a href="#" data-target="menu-responsive" class="sidenav-trigger ">
                            <img src="/imgs/menu.svg" alt="">
                        </a>
                        <ul class="left hide-on-med-and-down ">
                            <li><a class="blue-text text-lighten-1" style="font-family:'times'"
                                    href="/index.html">INICIO</a></li>
                            <li><a class="blue-text text-lighten-1" style="font-family:'times'"
                                    href="/views/proyectos.html">PROYECTOS</a></li>
                            <li><a class="blue-text text-lighten-1" style="font-family:'times'"
                                    href="/views/nosotros.html">NOSOTROS</a></li>
                        </ul>

                    </div>
                </nav>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col s8 l8 m8">
                        <ul class="sidenav cyan darken-2" id="menu-responsive">
                            <li><a href=""><i class="material-icons white-text">android</i></a></li>
                            <li><a class="white-text" href="/index.html">INICIO</a></li>
                            <li><a class="white-text" href="/views/proyectos.html">PROYECTOS</a></li>
                            <li><a class="white-text" href="/views/nosotros.html">NOSOTROS</a></li>
                        </ul>
                    </div>
        </nav>

        <!-- cards -->
        <div class="container row  transparent">

            <br><br><br><br>

            <div class="col collection hide-on-med-and-up s12 transparent">
                <a href="#realidadAumentada" class="collection-item">Equipo de Investigacion en Realidad Aumentada</a>
                <a href="#desarrollo" class="collection-item active">Equipo de desarrollo</a>
                <a href="#investigacion" class="collection-item">Actividades</a>
            </div>
            <div class="col hide-on-small-and-down m4">
                <div class="card white-text" style="background-color:rgba(67, 11, 165, 0.548)">
                    <div class="card-image">
                        <img src="/imgs/fondoRA.jpeg" alt="" class="responsive-img">
                    </div>
                    <div class="card-content halfway-fab waves-effect waves-amber">
                        <span class="card-title activator">Equipo de Investigación en Realidad Aumentada<i
                                class="material-icons right">more_vert</i></span>
                        <a href="#realidadAumentada" class="white-text light">Entra Aqui!</a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Realidad Aumentada<i
                                class="material-icons right">close</i></span>
                        <p class="black-text">Grupo de Estudiantes enfocados en explorar y conocer nuevas formas de
                            uso didáctico de la realidad aumentada y otras nuevas tecnologías infravaloradas en la
                            actualidad</p>
                    </div>
                </div>
            </div>
            <div class="col hide-on-small-and-down m4">
                <div class="card white-text" style="background-color:rgba(12, 76, 160, 0.616);">
                    <div class="card-image">
                        <img src="/imgs/fondoDISEÑO.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="card-content halfway-fab waves-effect waves-amber">
                        <span class="card-title activator">Equipo de Análisis y Desarrollo <i
                                class="material-icons right">more_vert</i></span>
                        <a href="#desarrollo" class="white-text light">Entra Aqui!</a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Equipo de Desarrollo <i
                                class="material-icons right">close</i></span>
                        <p class="black-text">Grupo de estudiantes enfocados en el análisis del uso de herramientas,
                            patrones de diseño y arquitecturas de software</p>
                    </div>
                </div>
            </div>
            <div class="col hide-on-small-and-down m4">
                <div class="card white-text" style="background-color:rgba(15, 199, 24, 0.599);">
                    <div class="card-image">
                        <img src="/imgs/fondoACTIVIDADES1.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="card-content halfway-fab waves-effect waves-amber">
                        <span class="card-title activator">Actividades<i
                                class="material-icons right">more_vert</i></span>
                        <a href="#investigacion" class="white-text light">Entra Aqui!</a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Actividades<i
                                class="material-icons right">close</i></span>
                        <p class="black-text">actividades realizadas por el semillero.</p>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
    </div>

    <div class="divider"></div>


    <div class="row blue-grey lighten-5 ">
        <div class="col  offset-l1 s12 m9 l9 z-depth-3">
            <div id="realidadAumentada" class="section scrollspy" style="background-color:rgba(123, 64, 224, 0.876)">
                <div class="row">
                    <div class=" section col m12 l4  ">
                        <img class=" hide-on-small-only container materialboxed responsive-img z-depth-6" width="10"
                            data-caption="Pruebas Realizadas de Realidad Aumentada para moviles"
                            src="/imgs/fondoCOllAGE.jpeg">
                    </div>
                    <div class="container section col s10 m12 l7 ">
                        <h3>Equipo de investigación en Realidad Aumentada</h3>
                        <p>¿Como definir lo real? ¿Acaso la realidad es simplemente lo que nuestros ojos nos
                            permiten
                            percibir?
                            ¿o acaso hay algo más? En este equipo estamos convencidos de que es así, de que conformarse
                            solo
                            con lo
                            tangible es algo del pasado ,y vemos en la realidad aumentada un concepto brillante y de
                            infinitas
                            posibilidades que sin duda generara un cambio total en la vida
                            del mañana, y es nuestro deseo formar parte de ese cambio.
                        </p>
                        <p>La realización de este tipo de proyectos implica una planeación y ejecución de diversas
                            actividades, diseñadas y distribuidas dentro de los miembros del equipo, estableciendo
                            tiempos de desarrollo para garantizar el éxito de los proyectos.</p>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div id="desarrollo" class="section scrollspy" style="background-color:rgba(12, 76, 160, 0.616);">
                <div class="row">
                    <div class="section col m12 l4">
                        <img class="container hide-on-small-only materialboxed responsive-img z-depth-4" width="10"
                            data-caption="Pruebas Realizadas de Realidad Aumentada para moviles"
                            src="/imgs/fondoCOLLAGED.jpeg">
                    </div>
                    <div class=" container section col s10 m12 l7 ">
                        <h3>Equipo de Analisis y Desarrollo</h3>
                        <p>El enfoque tradicional de desarrollo de aplicaciones basado en la arquitectura monolítica,
                            presenta desventajas, cuanto más grande y robusta es la aplicación, debido a que todos los
                            elementos que la componen se encuentran en un mismo sistema y esto dificulta la agregación
                            de nuevas funciones, mantenimiento, escalabilidad e integración con otras aplicaciones. Por
                            ende, se hace necesario explorar otras tendencias en el uso de herramientas, patrones de
                            diseño y arquitecturas de software, que permitan dividir los procesos o elementos de una
                            aplicación, de manera que sean independientes entre si, y que se puedan integrar de manera
                            distribuida, y a su vez permitan solucionar los problemas presentados en los sistemas de
                            arquitectura monolítica.</p>

                        <p>Se requiere administrar los elementos que componen las aplicaciones, por tanto, se deben
                            aplicar herramientas y técnicas de computación distribuida para la gestión de los servicios,
                            y brindar mejores tiempos de respuestas a las peticiones y agregación de forma dinámica de
                            nuevas funcionalidades.
                        </p>
                    </div>
                </div>
            </div>
            <div id="investigacion" class="section scrollspy" style="background-color:rgba(12, 187, 21, 0.438);">
                <div class="row">
                    <div class="section col m12 l4">
                        <img class="container hide-on-small-only materialboxed responsive-img z-depth-4" width="10"
                            data-caption="Pruebas Realizadas de Realidad Aumentada para moviles"
                            src="/imgs/fondoPRINCIPALRA.jpeg">
                    </div>
                    <div class=" container section col s10 m12 l7 ">
                        <h3>Actividades</h3>
                        <ol>
                            <li>Investigación de artículos cientificos existentes sobre Estado de la bibliografía
                                científica
                                publicada en el área telecomunicaciones e ingeniería espacial en Colombia en
                                Latinoamérica.
                            </li>
                            <li>Investigación Realidad
                                Aumentada sus usos formas de representar escenas.
                            </li>
                            <li>
                                actualización de software de rastreo satelital usando ingeniería a la inversa y
                                elaborando sus requerimientos.

                            </li>
                        </ol>

                    </div>
                </div>
            </div>
        </div>
        <div class="col hide-on-small-only m3 l2">
            <ul class="section table-of-contents">
                <li><a href="#realidadAumentada">Realidad Aumentada</a></li>
                <li><a href="#desarrollo">Desarrollo</a></li>
                <li><a href="#investigacion">Actividades</a></li>
            </ul>
        </div>
    </div>





    <div class="fixed-action-btn toolbar hide-on-med-and-up">
        <a class="btn-floating btn-large  blue accent-4 ">
            <i class="large material-icons">add</i>
        </a>
        <ul>
            <li><a class="btn-floating" href="#realidadAumentada">EQ 1</a></li>
            <li><a class="btn-floating " href="#desarrollo">EQ 2</a></li>
            <li><a class="btn-floating " href="#investigacion">Actv</a></li>
        </ul>
    </div>

    <footer class="page-footer cyan darken-2 ">
        <div class="container" style="background-color:rgba(236, 239, 241,0.9)">
            <div class="row container section">
                <div class="col  m12 s12 l12">
                    <div class="row">
                        <h5 class="black-text" style="font-family:'Comic Sans'">Contáctese con nosotros</h5>
                        <div class=" col m12 l12 s12input-field">
                            <input type="text" placeholder="Ingrese su mensaje" id="mensaje"
                                class="validate blue-text text-lighten-1" required>
                        </div>
                    </div>
                </div>
                <div class="col m12 l12 s12">
                    <!-- <button class="btn right" type="submit" >Enviar</button> -->
                    <a id="Enviar" class="btn right">Enviar</a>
                </div>
                <p class="left blue-text text-lighten-1" style="font-family:'Comic Sans'">sem.sciecom@gmail.com</p>
            </div>

        </div>

        <div class="footer-copyright" style="background-color:rgba(236, 239, 241,0.9)">
            <div class="container blue-text text-lighten-1" style="font-family:'Comic Sans'">
                © 2020 Copyright Sciecom
            </div>
        </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="/scrips/logicEmail.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);

            var elems = document.querySelectorAll('.parallax');
            var instances = M.Parallax.init(elems);

            var elems = document.querySelectorAll('.slider');
            var instances = M.Slider.init(elems);

            var elems = document.querySelectorAll('.materialboxed');
            var instances = M.Materialbox.init(elems);

            var elems = document.querySelectorAll('.scrollspy');
            var instances = M.ScrollSpy.init(elems, {
                scrollOffset: 20
            });
            var elems = document.querySelectorAll('.fixed-action-btn');
            var instances = M.FloatingActionButton.init(elems, {
                toolbarEnabled: true
            });
        })

    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $('body').on("keydown", function (e) {
            if (e.ctrlKey && e.shiftKey && e.which === 83) {
                alert("Echo por yenny y ronald :3 hola");
                e.preventDefault();
            }
        });
        $("#button").on("click", function (e) {
            alert(":3 hola");
        }); 
    </script>
</body>

</html>